html {
      width: 100vh;
    height: 100vh;
}

body {
    background-image: url(assets/home/background-home-desktop.jpg); 
	background-repeat: no-repeat;
    text-align: left;
    background-size: cover;
    color: #ffffff;
    background-position: center center;
      background-attachment: fixed;
    width: 100vh;
    height: 100vh;
}

h1{
    font-family:"Bellefair", serif;
    font-weight: 400;
    font-size: 150px;
   top: calc(50% - 172px/2 - 47px);
    width; 445px;
    position: absolute;
    height; 172px;
    line-height: 172px;
    left: 0;
    right: 1.11%;
    text-transform: uppercase;
    
}
h2{
  text-transform: uppercase;
}
.homeH2 {
      position: absolute;
    height: 34px;
    left: 0.11%;
    right: 15.67%;
    top: calc(50% - 34px/2 - 174px);
    line-height: 34px;
    text-transform: uppercase;
    font-family: 'Barlow';
    font-size: 28px;
    font-size: 28px;
    font-style: normal;
    color: #D0D6F9;
}

p{
    position: absolute;
    height: 128px;
    left: 0.11%;
    right: 1.22%;
    top: 254px;
    width: 444px;
    
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 178%;
 color: #D0D6F9;
    
    
}

.navbar {
  
   position: absolute;
width: 830px;
height: 96px;
left: 610px;
top: 40px;
text-transform: uppercase;
background color rgba(255,255,255, 0.3);
backdrop-filter: blur(40.7742px);  
}


.nav-link {
    border-bottom: 3px solid transparent;
}  

.nav-link:hover {
    border-bottom: 3px solid #ffffff;
}

.nav-link.active {
    border-bottom: 3px solid #ffffff;
}

.navbar-brand{
    border-radius: 100%;
    position: absolute;
width: 48px;
height: 48px;
left: 55px;
top: 64px;

}

.nav-item {
    padding:0 25px;
}

.navbarLine {
   position: absolute;
width: 473px;
height: 1px;
left: 167px;
top: 88px;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.25;
    
}
.leftsideCol {
    position: absolute;
    top: 387px;
    width: 450px;
    height: 382px;
    left: 165px;
}
.rightsideCol {
   
}

/*Custom Styles*/


/*Home Custom styles*/
.homeRightsideCol {
 position: absolute;
    width: 274px;
    height:274px;
    left: 1001px;
    top: 495px;
    border-radius: 100%;
    text-align: center;
    background-color: #ffffff;
}


.exportText {
    
position: absolute;
height: 37px;
left: 22.63%;
right: 23.36%;
top: calc(50% - 37px/2 + 0.5px);
text-transform: uppercase;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
/* identical to box height */

letter-spacing: 2px;

color: #0B0D17;
}

/*Destination Custom styles*/


.destinationRightsideCol {   
position: absolute;
width: 445px;
height: 472px;
left: 832px;
    top: 310px;
    left: 832px;
}

.destinationLeftsideCol {
position: absolute;
width: 678px;
height: 678px;
left: 180px;
top: 203px;
  width: 445px;
height: 445px;
left: 230px;
top: 343px;
}

.destinationBody {
    background-image: url(assets/destination/background-destination-desktop.jpg);
}

 .pickDestination {
height: 34px;
    width: 500px;
margin-left: 54px;
right: 1.57%;
margin-top: 200px;
font-family:'Barlow';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
letter-spacing: 4.725px;
text-transform: uppercase;

}

.destinationSelector{
    position: absolute;
    top: -60px;
    left: -30px;
            height:100px;
            width: 510px;
            border: 2px black;
            margin-top: 30px;
            text-align:left;
            
}
.destinationBtn {
                border-radius: 0;
                height:60px;
                width: 80px;
                background-color: inherit;
                padding-bottom:0;
                color: #ffffff;
                border:none;
                margin:20px;
}
.destinationBtn:hover {
 border-bottom: 3px solid #ffffff;
    background-color: inherit;
}





.destinationHeading {
    position: absolute;
height: 115px;
left: 0.5px;
right: 12.7%;
top: 71px;
size: 100px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 115px;
/* identical to box height */


color: #FFFFFF;
}
.destinationText {
   position: absolute;
height: 128px;
    width: 444px;
left: 0%;
right: 0.22%;
top: 200px;

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #D0D6F9; 
}
.destinationLine {
    position: absolute;
left: 0.22%;
right: 0%;
top: 80.93%;
bottom: 18.86%;

background: #383B4B;
}
.averageDistance{
  position: absolute;
left: 0.11%;
right: 67.75%;
top: 87.08%;
bottom: 0%;  
width: 143px;
    
}


.averageDistanceHeading {
  position: relative;
height: 17px;
left: 0%;
right: 32.17%;
top: calc(50% - 17px/2 - 22px);

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 2.3625px;
text-transform: uppercase;

color: #D0D6F9;

}

.averageDistanceValue {
    position: absolute;
height: 32px;
left: 0%;
right: 0%;
top: calc(50% - 32px/2 + 14.5px);
width: 200px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

}

.estimatedTime {
position: absolute;
left: 50%;
right: 22.58%;
top: 87.08%;
bottom: 0%;

}
.estimatedTimeHeading {
    position: absolute;
height: 17px;
    width:200px;

left: 0%;
right: 3.28%;
top: calc(50% - 17px/2 - 22px);

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 2.3625px;
text-transform: uppercase;

color: #D0D6F9;
}

.estimatedTimeValue {
    position: absolute;
height: 32px;
left: 0%;
right: 25.41%;
top: calc(50% - 32px/2 + 14.5px);
width: 200px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
text-transform: uppercase;
color: #FFFFFF;
}

.destinationLine {
    
    position: absolute;
    height: 1px;
    width: 444px;
left: 0.22%;
right: 0%;
top: 80.93%;
bottom: 18.86%;

background: #383B4B;
}

/*Crew Custom Styles*/
.crewBody {
    background-image: url(assets/crew/background-crew-desktop.jpg); 
    
}

.meetCrewContainer {
position:absolute;
width: 500px;
height: 34px;
left: 166.5px;
top: 212px;
    
}

.meetCrew {
position: absolute;
height: 34px;
left:0;
right: 1.4%;
top: calc(50% - 34px/2);

font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
/* identical to box height */

letter-spacing: 4.725px;
text-transform: uppercase;

color: #FFFFFF;

}

.crewPosition {
position: absolute;
width: 500px;
height: 37px;
left: 165.5px;
top: 400px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
}

.crewName {
position: absolute;
width: 620px;
height: 64px;
left: 165.5px;
top: 452px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
text-transform: uppercase;

color: #FFFFFF;
}

.aboutCrew {
   position: absolute;
width: 444px;
height: 128px;
left: 165px;
top: 543px;

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #D0D6F9; 
}

.crewSelector{
    position: absolute;
    top: 741px;
    left: 107px;
            height:40px;
            width: 300px;
            border: 2px;
            margin-top: 30px;
            text-align:center;
    border-color: #ffffff;
            
}
.crewBtn {
                border-radius: 100%;
                height:20px;
                width:20px;
                background-color: inherit;
                color: #ffffff;
                /*border:#ffffff;*/
                margin:5px;
}
.crewBtn:hover {
    background-color:#ffffff;
    color: black;
}

.crewMember {
    position: absolute;
width: 568.07px;
height: 712px;
left: 734.93px;
top: 198px;

background: url(Image.png);
}

/*Technology Custom Styles*/
.technologyBody {
    background-image: url(assets/technology/background-technology-desktop.jpg);
    width: 100%;
}

.technologySelector{
    position: absolute;
    left: 165px;
    top: 383px;
            height:303px;
            width: 120px;
            border: 2px black;
            margin-top: 30px;
            
}
.technologyBtn {
                border-radius: 100%;
                height:60px;
                width: 60px;
                background-color: black;
                color: #ffffff;
                border-color: #ffffff;
margin:20px;
}
.technologyBtn:hover {
    background-color:#ffffff;
    color: black;
}

.technologyBtn:active {
      background-color:#ffffff;
    color: black;
}



.spaceLaunch {
    position: absolute;
    width: 450px;
height: 34px;
left: 166.5px;
right: 2.3%;
top: 212px;
font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
/* identical to box height */

letter-spacing: 4.725px;

color: #FFFFFF;

}

.technologyLeft {
   position: absolute;
width: 470px;
height: 303px;
left: 325px;
top: 383px;
    
}

.techDiv {
    text-align:left;
}

.terminology {
   position: absolute;
    size: 16px;
height: 19px;
left:  0;
right: 68.09%;
width: 470px;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
color: #D0D6F9;
 
}
.technologyH1 {
    position: absolute;
height: 64px;
left: 0%;
right: 0%;
top: 30px;
    width: 470px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;

color: #FFFFFF;

}
.aboutTechnology {
    position: absolute;
height: 192px;
left: 0%;
right: 5.53%;
top: 111px;
size: 18px;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #D0D6F9;
}
.technologyImage {
    position: absolute;
width: 515px;
height: 527px;
left: 925px;
top: 272px;
}


/*tablet size*/
@media (max-width: 768px) {

    body {
        position: relative;
        background-image: url(assets/home/background-home-tablet.jpg);
        text-align: center;
        justify-content: fle
    }  
    .navbarLine {
        width: 0;
        height: 0;
    }
    .navbar-brand {
        position: absolute;
width: 100px;
height: 96px;
        
    }
    .navbar {
      position: absolute;
width: 555px;
height: 96px;
left: 185px;
top: 0;
        background: rgba(255, 255, 255, 0.04);
    
/*left: 318px;*/
    }
    
    .nav-link {
       font-size: 14px;
        width: 95px;
    
    }
    
    b {
    display: none;
}
    
    
    .navbar-brand {
        position: absolute;
width: 48px;
height: 48px;
left: 39px;
top: 24px;
    }
    .leftsideCol{
    position: absolute;
width: 450px;
height: 334px;
left: 159px;
top: 202px; 
    
    } 
    .homeRightsideCol {
        position: absolute;
width: 242px;
height: 242px;
left: 263px;
top: 692px;
       
    }
    
/*    Destination*/
    .destinationBody {
        background-image: url(assets/destination/background-destination-tablet.jpg);
        
    }
    
    .pickDestination {
        position: absolute;
width: 372px;
height: 24px;
left: 0;
top: -55px;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 3.375px;
text-transform: uppercase;

color: #FFFF
    }
    .destinationLeftsideCol {
        position: absolute;
width: 300px;
height: 300px;
left: 234px;
top: 220px;
        background-size: 100% 100%;

    }
     
    .destinationRightsideCol {
        
position: absolute;
width: 786px;
height: 572px;
left: 0;
top: 580px;
    }
  
    
   .destinationSelector{
    position: absolute;
    top: -60px;
    left: 130px;
            height:100px;
            width: 510px;
            border: 2px black;
            margin-top: 30px;
            text-align:left;
            
}
.destinationBtn {
                border-radius: 0;
                height:60px;
                width: 80px;
                background-color: inherit;
                padding-bottom:0;
                color: #ffffff;
                border:none;
                margin:20px; 
    
    
    }
    
    .destinationHeading {
        position: absolute;
width: 310px;
height: 92px;
left: 229.5px;
top:75px;
size: 80px;
        
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 92px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
    }
    
    .destinationText {
        text-align: center;
        width: 590px;
        margin-left: 98px;
        margin-right: 98px;
    } 
    .destinationLine {
        left: 100px;
        top: 320px;
            width: 573px;
    }
    .averageDistance {
        top: 250px;
        left: 25%;
    }
    
    .estimatedTime {
        top: 250px;
        left: 60%;
    }
    
    
    
/*    Crew*/
    .crewBody {
        background-image: url(assets/crew/background-crew-tablet.jpg);
    }
    .meetCrewContainer {
        position: absolute;
width: 404px;
height: 24px;
left: 38.5px;
top: 136px;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

letter-spacing: 3.375px;
text-transform: uppercase;

color: #ffffff;
}
    .crewPosition {
        position: absolute;
height: 28px;
left: 20.42%;
right: 32.42%;
top: calc(50% - 28px/2 - 77px);

font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
        text-align: center;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
    } 
    .crewName {
        position: absolute;
height: 46px;
left: 10.1%;
right: 0.11%;
top: calc(50% - 46px/2 - 32px);
text-align: center;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
    }
    .aboutCrew {
        position: absolute;
height: 84px;
left: ;
right: 0%;
top: calc(50% - 84px/2 + 49px);

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

color: #D0D6F9;
    }
    
    .crewSelector{
            height:40px;
            width: 300px;
            border: 2px black;
            margin-top: 30px;
            text-align:center;
            top: 490px;
        left: 255px
}
    
    .crewMember {
        position: absolute;
width: 456.37px;
height: 572px;
left: 155.85px;
top: 600px;

background
    }
    
    
/*    Technology*/
    
    .technologyBody {
        background-image: url(assets/technology/background-technology-tablet.jpg);
        width: 768px;
    }
    
    
    .technologySelector{
        position: absolute;
        top: 520px;
            height:100px;
            width: 410px;
            border: 2px black;
            margin-top: 30px;
            text-align:center;
            
}
    
    
    
    .techDiv {
        position: relative;
        text-align: center;
    }

    
    .technologyH1 {
       position: absolute;
height: 46px;
left: 0.11%;
right: 0.11%;
top: calc(50% - 46px/2 - 60.5px);

font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

    }
    
    .spaceLaunch{
        position: absolute;
width: 400px;
height: 24px;
left: 38.5px;
top: 136px;
        position: absolute;
right: 1.84%;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 3.375px;
text-transform: uppercase;

color: #FFFFFF;

    }
    
    
    .technologyRight {
        position: absolute;
width: 768px;
height: 310px;
left: 0;
top: 220px;
        background-image: url(assets/technology/image-launch-vehicle-landscape.jpg);
            
    }
    .technologyLeft {
        position: absolute;
width: 458px;
height: 237px;
left: 155px;
top: 690px;
    }
    .technologyImage {
        display: none;
    }
    
}

/*    Mobile Size*/
@media (max-width: 375px) {
    .navbar-collapsse {
    width: 50px;
        
    }
}
