body {
    text-align: left;
}

h1{
    font-family:"Bellefair", serif;
    font-weight: 400;
    font-size: 150px;
   top: calc(50% - 172px/2 - 47px);
    width; 445px;
    position: absolute;
    height; 172px;
    line-height: 172px;
    left: 0;
    right: 1.11%;
    
}
h2{
    position: absolute;
    height: 34px;
    left: 0.11%;
    right: 15.67%;
    top: calc(50% - 34px/2 - 174px);
    line-height: 33.6px;
    
}

p{
    position: absolute;
    height: 128px;
    left: 0.11%;
    right: 1.22%;
    top: 254px;
    width: 444px;
    
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
    
    
}

.navbar {
    padding: 2% 4%;
    margin: 3% 0;
}

.navbar-brand{
    border-radius: 100%;
}

.nav-item {
    padding:0 25px;
}

.leftsideCol {
    position: absolute;
    top: 387px;
    width: 450px;
    height: 382px;
}
.rightsideCol {
    position: absolute;
    width: 274px;
    height:274px;
    left: 1001px;
    top: 495px;
    border-radius: 100%;
    text-align: center;
}
